@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: Roboto;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./media/webb-dark.png);
}

.page-name {
  background-image: url(./media/webb-dark.png);
  font-size: 10vh;
  text-align: center;
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
  position: sticky;
  padding-bottom: 20px;
  top: -1;
}

.modal {
  color: red;
  border: 10px solid red;
  height: 100vh;
  width: 100vh;
  background-color: black;
  opacity: 0.8;
}

/* GALLERY MAIN */
.gallery {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 2px;
}
/* GALLERY MAIN */

/* START: INDIVIDUAL TILES IN GALLERY */
.tile {
  border: 1px solid aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#label {
  background-color: aliceblue;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

#label:hover {
  background-color: black;
  color: aliceblue;
}
/* END: INDIVIDUAL TILES IN GALLERY */

/* START: MEDIA QUERIES */
@media (max-width: 1160px) {
  .gallery {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media (max-width: 700px) {
  .gallery {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 100%;
  }
}
/* END: MEDIA QUERIES */
